p{
    color: #40514E;
}

body {
    margin: 0px;
    font-family: 'Merriweather', serif;
    text-align: center;
}

h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color: #66BFBF;
}

h2 {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    color: #66BFBF;
    font-size: 2.5rem;
    font-weight: bold;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
    font-weight: bold;
}

hr{
    border-top: 6px dotted #40514E;
    width: 4%;
    margin: 100px auto 100px auto;
}

.class_span_programmer {
    text-decoration: underline;
}



.skill-row_jovemnerd{
    height: auto;
    width: 50%;
    margin: 100px auto 0px auto;
    text-align: left;
    line-height: 2;
    display: inline-block;
}

.skill-row_martelo{
    height: auto;
    width: 50%;
    margin: 100px auto 0px auto;
    text-align: right;
    line-height: 2;
    display: inline-block;
}

/* 
div{
    height: 50px;
    width: 100%;
    border: solid;  a borda nao interfere no tamanho do seu elemento, o que quer dizer que ela fica para fora do seu div 
    border-top: 0px;
    border-width: 0px 10px 20px 30px; /*quando vc define assim, vc traz as especificações de tamanho da borda no sentido horario 
    padding: 20px;  o padding acrescenta uma borda interna, que expande que expande o seu div para fora, mas que separa o conteudo interno da sua div da borda
    margin: 10px;  a margem é o espaço que separa a sua div de outros elementos, como pode exemplo um espaço entre essa div e outra 
}
*/

.top-container {
    background-color: #EAF6F6;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.top-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}





.img-profile{
    height: auto;
    width: 200px;
    border-radius: 30%;
}

.img_jovemnerd{
    height: auto;
    width: 25%;
    float: left;
    margin-right: 30px;
}


.img_martelo{
    height: auto;
    width: 25%;
    float: right;
    margin-left: 30px;
}

.h3-contact{
    margin: 50px auto 50px auto;
}

.p-mensagem{
    width: 40%;
    margin: 40px auto 60px;
    
}


.btn {
    margin-top: 900px;
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

.footer-link {
    color: #11999E;
    font-weight: bold;
    margin-bottom: 100px;
}

.bottom-container{
    margin-top: 100px;
    background-color: #66BFBF;
    padding: 50px 0px 20px;
}

a{
    color: #11999E;
    margin: 10px 20px;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
}

a:hover{
    color: #EAF6F6;
}

.copyright{
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}